In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
df1 = pd.read_csv('lec25.csv')
df1

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  7     dog

In [3]:
df1 = pd.read_csv('lec25.csv',header = None)
df1

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [4]:
df1 = pd.read_table('lec25.csv',sep=',',header = None)
df1

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [5]:
pd.read_csv('lec25.csv',header = None, nrows =2)

   0  1  2  3      4
0  q  r  s  t  apple
1  2  3  4  5   pear

In [6]:
df1.to_csv('lec25_write_csv.csv')

In [7]:
import sys

In [9]:
df1.to_csv(sys.stdout)

,0,1,2,3,4
0,q,r,s,t,apple
1,2,3,4,5,pear
2,a,s,d,f,rabbit
3,5,2,5,7,dog

In [11]:
df1.to_csv(sys.stdout, sep = '|', header = None,index = None)

q|r|s|t|apple
2|3|4|5|pear
a|s|d|f|rabbit
5|2|5|7|dog

In [13]:
df1.to_csv(sys.stdout, sep = '|', header = None,index = None,columns = [0,1,2])

q|r|s
2|3|4
a|s|d
5|2|5

In [14]:
df1.to_csv(sys.stdout, sep = '|',columns = [0,1,2])

|0|1|2
0|q|r|s
1|2|3|4
2|a|s|d
3|5|2|5

In [ ]:
#You should also check out pythons built-in csv reader and writer for more info:
# https://docs.python.org/2/library/csv.html