In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
obj = Series([3,6,9,12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [3]:
obj.values

array([ 3,  6,  9, 12])

In [4]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
ww2_cas = Series([8700000,4300000,3000000,2100000,400000], index = ['USSR','Germany','China','Japan','USA'])
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [6]:
ww2_cas['USSR']

8700000

In [7]:
ww2_cas[ww2_cas>4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [8]:
'USSR' in ww2_cas

True

In [9]:
'India' in ww2_cas

False

Series behaves like an ordered dictionary. So we can even convert them to dictionary

In [10]:
ww2_dict = dict(ww2_cas)
ww2_dict

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2100000,
 'USA': 400000,
 'USSR': 8700000}

In [11]:
ww2_cas.to_dict()

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2100000,
 'USA': 400000,
 'USSR': 8700000}

In [12]:
ww2_series= Series(ww2_dict)
ww2_series

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [13]:
countries = ['USSR','USA','India']

In [14]:
obj2 = Series(ww2_dict,index = countries)
obj2

USSR     8700000.0
USA       400000.0
India          NaN
dtype: float64

In [15]:
dict(zip(['1','b','c'],[1,2,3]))

{'1': 1, 'b': 2, 'c': 3}

In [16]:
dict(a=1,b=2,c=88)

{'a': 1, 'b': 2, 'c': 88}

In [17]:
dict({1:2,2:3,3:4})

{1: 2, 2: 3, 3: 4}

In [29]:
pd.isnull(obj2)

USSR     False
USA      False
India     True
dtype: bool

In [30]:
pd.notnull(obj2)

USSR      True
USA       True
India    False
dtype: bool

In [31]:
obj2

USSR     8700000
USA       400000
India        NaN
dtype: float64

In [32]:
ww2_series

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [34]:
ww2_series+obj2

China           NaN
Germany         NaN
India           NaN
Japan           NaN
USA          800000
USSR       17400000
dtype: float64

In [37]:
obj2.name = 'world war 2 casualties'
obj2

USSR     8700000
USA       400000
India        NaN
Name: world war 2 casualties, dtype: float64

In [39]:
obj2.index.name = 'Countries'
obj2

Countries
USSR         8700000
USA           400000
India            NaN
Name: world war 2 casualties, dtype: float64