In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
ser1 = Series(range(4),index = ['A','B','C','D'])
ser1

A    0
B    1
C    2
D    3
dtype: int64

In [3]:
ser1 *= 2
ser1

A    0
B    2
C    4
D    6
dtype: int64

In [4]:
ser1['B']

2

In [5]:
ser1[1]

2

In [6]:
ser1[1:4]

B    2
C    4
D    6
dtype: int64

In [7]:
ser1[['A','C']]

A    0
C    4
dtype: int64

In [8]:
ser1[['True','True','False','False']]

True    NaN
True    NaN
False   NaN
False   NaN
dtype: float64

In [9]:
ser1[[2,3]]

C    4
D    6
dtype: int64

In [10]:
ser1>3

A    False
B    False
C     True
D     True
dtype: bool

In [11]:
ser1[ser1>3]

C    4
D    6
dtype: int64

In [12]:
ser1

A    0
B    2
C    4
D    6
dtype: int64

In [13]:
ser1[ser1>3]=10
ser1

A     0
B     2
C    10
D    10
dtype: int64

In [14]:
df1 = DataFrame(np.arange(25).reshape((5,5)), index = ['ind%s'%str(i+1) for i in range(5)],
               columns = ['col%s'%str(i+1) for i in range(5)])
df1

      col1  col2  col3  col4  col5
ind1     0     1     2     3     4
ind2     5     6     7     8     9
ind3    10    11    12    13    14
ind4    15    16    17    18    19
ind5    20    21    22    23    24

In [15]:
df1['col1']

ind1     0
ind2     5
ind3    10
ind4    15
ind5    20
Name: col1, dtype: int64

In [16]:
df1[['col1','col2']]

      col1  col2
ind1     0     1
ind2     5     6
ind3    10    11
ind4    15    16
ind5    20    21

In [17]:
df1[[1,2]]

      col2  col3
ind1     1     2
ind2     6     7
ind3    11    12
ind4    16    17
ind5    21    22

In [18]:
df1[[i for i in range(3)]]

      col1  col2  col3
ind1     0     1     2
ind2     5     6     7
ind3    10    11    12
ind4    15    16    17
ind5    20    21    22

In [19]:
df1[df1>5]

      col1  col2  col3  col4  col5
ind1   NaN   NaN   NaN   NaN   NaN
ind2   NaN   6.0   7.0   8.0   9.0
ind3  10.0  11.0  12.0  13.0  14.0
ind4  15.0  16.0  17.0  18.0  19.0
ind5  20.0  21.0  22.0  23.0  24.0

In [20]:
df1[df1['col1']>10]

      col1  col2  col3  col4  col5
ind4    15    16    17    18    19
ind5    20    21    22    23    24

In [21]:
df1>5

       col1   col2   col3   col4   col5
ind1  False  False  False  False  False
ind2  False   True   True   True   True
ind3   True   True   True   True   True
ind4   True   True   True   True   True
ind5   True   True   True   True   True

In [22]:
df1['col1']>5

ind1    False
ind2    False
ind3     True
ind4     True
ind5     True
Name: col1, dtype: bool

In [27]:
type(df1['col1']>5)

pandas.core.series.Series

In [23]:
df1

      col1  col2  col3  col4  col5
ind1     0     1     2     3     4
ind2     5     6     7     8     9
ind3    10    11    12    13    14
ind4    15    16    17    18    19
ind5    20    21    22    23    24

In [24]:
df1.ix[['ind1','ind3']]

      col1  col2  col3  col4  col5
ind1     0     1     2     3     4
ind3    10    11    12    13    14

In [25]:
df1.ix[2:4]

      col1  col2  col3  col4  col5
ind3    10    11    12    13    14
ind4    15    16    17    18    19

In [26]:
df1.ix[[1,3]]

      col1  col2  col3  col4  col5
ind2     5     6     7     8     9
ind4    15    16    17    18    19