In [4]:
import numpy as np
from pandas import Series,DataFrame
from numpy.random import randn
import pandas as pd

In [5]:
ser1 = Series(randn(6),index = [[1,1,1,2,2,2],list('abcabc')])
ser1

1  a    0.382131
   b    0.325925
   c   -3.348848
2  a    1.713839
   b    1.809414
   c    0.113734
dtype: float64

In [7]:
ser1.index

MultiIndex(levels=[[1, 2], ['a', 'b', 'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [13]:
ser1[1]['a']

0.38213059991482839

In [15]:
ser1[1,'a']

0.38213059991482839

In [16]:
ser1[:,'a']

1    0.382131
2    1.713839
dtype: float64

In [21]:
ser1

1  a    0.382131
   b    0.325925
   c   -3.348848
2  a    1.713839
   b    1.809414
   c    0.113734
dtype: float64

In [20]:
df1 = ser1.unstack()
df1

          a         b         c
1  0.382131  0.325925 -3.348848
2  1.713839  1.809414  0.113734

In [27]:
df2 = DataFrame(np.arange(16).reshape((4,4)),
               index = [['a','a','b','b'],['1','2','1','2']],
               columns = [['NY','NY','LA','SF'],['cold','hot','hot','cold']])
df2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [30]:
df2.index.names = ['INDEX_1','INDEX_2']
df2.columns.names = ['CITIES','TEMPERATURE']

In [31]:
df2

CITIES            NY      LA   SF
TEMPERATURE     cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [32]:
df2.swaplevel('CITIES','TEMPERATURE',axis= 1)

TEMPERATURE     cold hot     cold
CITIES            NY  NY  LA   SF
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [34]:
df2.swaplevel('INDEX_1','INDEX_2')

CITIES            NY      LA   SF
TEMPERATURE     cold hot hot cold
INDEX_2 INDEX_1
1       a          0   1   2    3
2       a          4   5   6    7
1       b          8   9  10   11
2       b         12  13  14   15

In [36]:
df2.sortlevel(1)

CITIES            NY      LA   SF
TEMPERATURE     cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
b       1          8   9  10   11
a       2          4   5   6    7
b       2         12  13  14   15

In [38]:
df2.swaplevel('INDEX_1','INDEX_2').sortlevel(0)

CITIES            NY      LA   SF
TEMPERATURE     cold hot hot cold
INDEX_2 INDEX_1
1       a          0   1   2    3
        b          8   9  10   11
2       a          4   5   6    7
        b         12  13  14   15

In [40]:
df2.swaplevel('CITIES','TEMPERATURE',axis = 1).sortlevel(0,axis = 1)

TEMPERATURE     cold     hot
CITIES            NY  SF  LA  NY
INDEX_1 INDEX_2
a       1          0   3   2   1
        2          4   7   6   5
b       1          8  11  10   9
        2         12  15  14  13

In [48]:
df2

CITIES            NY      LA   SF
TEMPERATURE     cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [51]:
df2.sum(level = 'TEMPERATURE',axis =1)

TEMPERATURE      cold  hot
INDEX_1 INDEX_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27