In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [3]:
ser1 = Series(np.arange(1,5),index = ['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [5]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [12]:
ser2.reindex(['A','B','C','D','E','F','G'], fill_value = 0)

A     1
B     2
C     3
D     4
E   NaN
F   NaN
G     0
dtype: float64

In [25]:
ser3 = Series(['USA','Mexico','Canada'], index = [0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [29]:
r = range(15)
r

range(0, 15)

In [32]:
ser3.reindex(r,method = 'ffill') #forward fill

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [37]:
df1 = DataFrame(randn(25).reshape((5,5)), index = ['A','B','D','E','F'], columns = ['col1','col2','col3','col4','col5'])
df1

       col1      col2      col3      col4      col5
A -1.648408  0.010962 -1.164564 -0.838551  0.642420
B  0.995502 -0.623136 -0.876500  1.297627 -0.212266
D -0.421313 -1.244273  0.306972  0.039373  1.744935
E -0.559480  0.463097 -0.425744  0.378053  1.787477
F  0.318778  0.960383 -0.270214  0.288402  0.633704

In [40]:
df2 = df1.reindex(['A','B','C','D','E','F'])
df2

       col1      col2      col3      col4      col5
A -1.648408  0.010962 -1.164564 -0.838551  0.642420
B  0.995502 -0.623136 -0.876500  1.297627 -0.212266
C       NaN       NaN       NaN       NaN       NaN
D -0.421313 -1.244273  0.306972  0.039373  1.744935
E -0.559480  0.463097 -0.425744  0.378053  1.787477
F  0.318778  0.960383 -0.270214  0.288402  0.633704

In [42]:
new_cols = ['col%s'%str(i) for i in range(1,7)]
new_cols

['col1', 'col2', 'col3', 'col4', 'col5', 'col6']

In [43]:
df2.reindex(columns = new_cols)

       col1      col2      col3      col4      col5  col6
A -1.648408  0.010962 -1.164564 -0.838551  0.642420   NaN
B  0.995502 -0.623136 -0.876500  1.297627 -0.212266   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.421313 -1.244273  0.306972  0.039373  1.744935   NaN
E -0.559480  0.463097 -0.425744  0.378053  1.787477   NaN
F  0.318778  0.960383 -0.270214  0.288402  0.633704   NaN

In [45]:
df1

       col1      col2      col3      col4      col5
A -1.648408  0.010962 -1.164564 -0.838551  0.642420
B  0.995502 -0.623136 -0.876500  1.297627 -0.212266
D -0.421313 -1.244273  0.306972  0.039373  1.744935
E -0.559480  0.463097 -0.425744  0.378053  1.787477
F  0.318778  0.960383 -0.270214  0.288402  0.633704

In [51]:
df1.ix['A','col1']

-1.6484082228703132