In [5]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [6]:
ser1 = Series(np.arange(4),index = ['a','b','c','d'])
ser1

a    0
b    1
c    2
d    3
dtype: int32

In [8]:
ser1.drop('b')

a    0
c    2
d    3
dtype: int32

In [12]:
df1 = DataFrame(np.arange(9).reshape((3,3)),index = ['SF','LA','NY'],columns = ['pop','size','year'])
df1

    pop  size  year
SF    0     1     2
LA    3     4     5
NY    6     7     8

In [13]:
df1.drop('LA')

    pop  size  year
SF    0     1     2
NY    6     7     8

In [15]:
df1.drop('size', axis = 1)

    pop  year
SF    0     2
LA    3     5
NY    6     8