In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [3]:
nfl_frame = pd.read_clipboard()

In [4]:
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
0,1,Dallas Cowboys,511,378,6,0.574,1960,894,NFC East
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North
5,6,San Francisco 49ers,545,444,14,0.550,1950,1003,NFC Weast

In [7]:
nfl_frame.columns

Index(['Rank ', 'Team ', 'Won ', 'Lost ', 'Tied* ', 'Pct. ', 'First Season ', 'Total Games ', 'Conference'], dtype='object')

In [14]:
nfl_frame.Conference

0     NFC East
1    NFC North
2    NFC North
3     AFC East
4    AFC North
5    NFC Weast
Name: Conference, dtype: object

In [18]:
nfl_frame['Team ']

0         Dallas Cowboys
1          Chicago Bears
2      Green Bay Packers
3         Miami Dolphins
4       Baltimore Ravens
5    San Francisco 49ers
Name: Team , dtype: object

In [20]:
DataFrame(nfl_frame,columns = [ 'Team ', 'Won ', 'Lost ', 'Tied* '])

                  Team   Won   Lost   Tied*
0       Dallas Cowboys    511    378       6
1        Chicago Bears    752    563      42
2    Green Bay Packers    741    561      37
3       Miami Dolphins    443    345       4
4     Baltimore Ravens    182    143       1
5  San Francisco 49ers    545    444      14

In [22]:
DataFrame(nfl_frame,columns = [ 'Team ', 'Won ', 'Lost ', 'Tied* ','Stadium'])

                  Team   Won   Lost   Tied*   Stadium
0       Dallas Cowboys    511    378       6      NaN
1        Chicago Bears    752    563      42      NaN
2    Green Bay Packers    741    561      37      NaN
3       Miami Dolphins    443    345       4      NaN
4     Baltimore Ravens    182    143       1      NaN
5  San Francisco 49ers    545    444      14      NaN

In [24]:
nfl_frame.head(3)

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
0,1,Dallas Cowboys,511,378,6,0.574,1960,894,NFC East
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North

In [25]:
nfl_frame.tail(2)

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
4,5,Baltimore Ravens,182,143,1,0.56,1996,326,AFC North
5,6,San Francisco 49ers,545,444,14,0.55,1950,1003,NFC Weast

In [28]:
nfl_frame.ix[1]

Rank                          2
Team             Chicago Bears
Won                         752
Lost                        563
Tied*                        42
Pct.                       0.57
First Season               1920
Total Games                1357
Conference            NFC North
Name: 1, dtype: object

In [29]:
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
0,1,Dallas Cowboys,511,378,6,0.574,1960,894,NFC East
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North
5,6,San Francisco 49ers,545,444,14,0.550,1950,1003,NFC Weast

In [30]:
nfl_frame['Stadium'] = "Levi's Stadium"

In [31]:
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference,Stadium
0,1,Dallas Cowboys,511,378,6,0.574,1960,894,NFC East,Levi's Stadium
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North,Levi's Stadium
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North,Levi's Stadium
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East,Levi's Stadium
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North,Levi's Stadium
5,6,San Francisco 49ers,545,444,14,0.550,1950,1003,NFC Weast,Levi's Stadium

In [32]:
nfl_frame['Stadium'] = np.arange(6)

In [33]:
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference,Stadium
0,1,Dallas Cowboys,511,378,6,0.574,1960,894,NFC East,0
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North,1
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North,2
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East,3
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North,4
5,6,San Francisco 49ers,545,444,14,0.550,1950,1003,NFC Weast,5

In [36]:
stadiums = Series(['Levis Stadium','Eaden Gargens','MCG'],index = [1,2,5])
stadiums

1    Levis Stadium
2    Eaden Gargens
5              MCG
dtype: object

In [39]:
nfl_frame['Stadium'] = stadiums
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference,Stadium
0,1,Dallas Cowboys,511,378,6,0.574,1960,894,NFC East,NaN
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North,Levis Stadium
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North,Eaden Gargens
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East,NaN
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North,NaN
5,6,San Francisco 49ers,545,444,14,0.550,1950,1003,NFC Weast,MCG

In [40]:
del nfl_frame['Stadium']

In [41]:
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
0,1,Dallas Cowboys,511,378,6,0.574,1960,894,NFC East
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North
5,6,San Francisco 49ers,545,444,14,0.550,1950,1003,NFC Weast

In [43]:
city_dict = {'City':['Mumbai','Cochin','Hyderabd'],'Population':[5000000,2500000,3000000]}
city_dict

{'City': ['Mumbai', 'Cochin', 'Hyderabd'],
 'Population': [5000000, 2500000, 3000000]}

In [45]:
city_frame = DataFrame(city_dict)
city_frame

       City  Population
0    Mumbai     5000000
1    Cochin     2500000
2  Hyderabd     3000000

In [48]:
#For full list of ways to create DataFrames from various sources go to teh documentation for pandas:
website = 'http://pandas.pydata.org/pandas-docs/dev/generated/pandas.DataFrame.html'
website = 'http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html'
webbrowser.open(website)

True